<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image_container.name %>
</p>

<%= link_to 'Edit', edit_image_container_path(@image_container) %> |
<%= link_to 'Back', image_containers_path %>
