<div class="modal-body">
<div class="container-fluid">
<div class="row">
<div class="col- col-md-8">
 <%= image_tag picture.image,style: "width: 100%; height: 100%;" %> 
 <%#= image_tag ActiveStorage::Attachment.find(image),style: "width: 100%; height: 100%;" %> 
</div>
</div>
</div>
</div>